# # Convert line endings to LF when pushing and pulling from GitHub
# * text=auto eol=lf

# # Set Python specific attributes
# *.py    text    diff=python    eol=lf
# *.pyc   binary  diff=python    eol=lf
# *.pyo   binary  diff=python    eol=lf
# *.pyd   binary  diff=python    eol=lf
# *.pyx   text    diff=python    eol=lf
# *.pxd   text    diff=python    eol=lf
# *.pxi   text    diff=python    eol=lf

# # PyTorch specific attributes
# *.pt    filter=lfs diff=lfs merge=lfs eol=lf binary -diff
# *.pth   filter=lfs diff=lfs merge=lfs eol=lf binary -diff
# *.pkl   filter=lfs diff=lfs merge=lfs eol=lf binary -diff

# # Compressed files
# *.zip   filter=lfs diff=lfs merge=lfs eol=lf binary -diff
# *.gz    filter=lfs diff=lfs merge=lfs eol=lf binary -diff
# *.bz2   filter=lfs diff=lfs merge=lfs eol=lf binary -diff
# *.xz    filter=lfs diff=lfs merge=lfs eol=lf binary -diff

# # Executable files
# *.exe   binary  eol=lf -diff
# *.dll   binary  eol=lf -diff

# # Media files
# *.jpg   binary  
# *.jpeg  binary
# *.png   filter=lfs diff=lfs merge=lfs binary
# *.webp  filter=lfs diff=lfs merge=lfs binary
# *.gif   binary
# *.svg   text   eol=lf
# *.mp4   filter=lfs diff=lfs merge=lfs -text
# *.mov   filter=lfs diff=lfs merge=lfs -text

# # Data files
# *.csv   filter=lfs diff=lfs merge=lfs eol=lf -text

# # Documentation files
# *.md    text   eol=lf
# *.tex   text   eol=lf
# *.txt   text   eol=lf
# *.pdf   filter=lfs diff=lfs merge=lfs -text

# # Model runs
# runs/   filter=lfs diff=lfs merge=lfs -text
