opencv-python-headless
mediapipe
numpy
nltk
pillow
types-Pillow
torch
pandas
pandas-stubs
matplotlib
torchvision
keras
seaborn
scikit-learn
tensorflow
pytest
pytest-cov
ufmt
usort
mdformat
mypy
pylint
